<nav class="">
    <ul>
        <li> <%= link_to "Store Home", store_path %> </li>
        <% if !!current_cart %>
          <li> <%= link_to "Cart", cart_path(current_cart) %></li>
        <% end %>

        <% if current_user %>
          <li>Signed in as <%= current_user.email %></li>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "sign in", new_user_session_path, class: 'nav-link' %></li>
        <% end %>
    </ul>
</nav>
